.btn {
  margin: 8px;
  position: relative;
}

.btn .close {
  position: absolute;
  display: none;
  width: 12px;
  top: 1px;
  right: 1px;
  z-index: 100;
}

.btn:hover .close {
  display: inline-block;
}

.video {
  height: 200px;
  margin: 0 10px 0 0;
}

.rating {
  font-size: 14px;
}

.imgDiv {
  display: inline-block;
}
